<div class="container-fluid">
  <div class="row" mx-auto >
    <mat-card class="col-8 mx-auto ">
      <h1 mat-dialog-title>Note d'annulation</h1>
      <div mat-dialog-content>
        <mat-form-field>
          <textarea matInput [(ngModel)]="note"></textarea>
        </mat-form-field>
      </div>
      <div mat-dialog-actions class="col-8 mx-auto">
        <button [mat-dialog-close]="note" mat-raised-button color="primary" tabindex="2">Ok</button>
        <button  (click)="onNoClick()" mat-raised-button color="basic" tabindex="-1">Aucun</button>
      </div>
    </mat-card>
  </div>
</div>