<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:context = "http://www.springframework.org/schema/context"
   xmlns:tx = "http://www.springframework.org/schema/tx"
   xmlns:cache="http://www.springframework.org/schema/cache"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:security="http://www.springframework.org/schema/security"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/tx 
   http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/cache 
   http://www.springframework.org/schema/cache/spring-cache.xsd">

	<import resource="classpath:META-INF/spring-metier-config.xml" />
	
	<cache:annotation-driven cache-manager="cacheManager"/>
    <context:component-scan base-package = "com.ag2m.gestimmo" />
    
    	<!-- Configure to plugin JSON as request and response in method handler -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonMessageConverter"/>
			</list>
		</property>
	</bean> 
	
	<bean id="httpHandler" class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"> </bean>
	<!--  <bean id="simpleHandler" class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"> </bean>   -->
	
	
	<!-- Configure bean to convert JSON to POJO and vice versa -->
	<bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	 <property name="objectMapper">
            <bean class="com.ag2m.gestimmo.webapp.ObjectMapper.HibernateAwareObjectMapper" />
        </property>
	</bean>	
	
	<bean id="cacheManager" 
	      class="org.springframework.cache.ehcache.EhCacheCacheManager">
	      <property name = "cacheManager" ref="ehcache"/>
	</bean>
	
	<!-- Ehcache library setup -->
	<bean id="ehcache" 
	      class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
	      <property name = "configLocation" value ="classpath:WEB-INF/ehcache.xml"/>
	</bean>
    
 </beans>