<div class="container-fluid">
    <div class="row mat-elevation-z8">
      <mat-card class="col-8 mx-auto card">
  
              <mat-card class="col-8 mx-auto cardSearch">
                <mat-card-title>
                  <mat-icon fontSet="fa" class="fas fa-building mx-auto"></mat-icon>
                  Appartement
                </mat-card-title>
  
                <form class="example-form" *ngIf="appartementForm" [formGroup]="appartementForm">
                
                <div class="mat-elevation-z8 " style="background-color:white; height: 300px;" fxLayoutAlign="center" flex="30">
                    <table>
                        <tr>
                          <td>
                            <mat-form-field>
                              <input matInput formControlName="libelle" placeholder="Libellé" >
                            </mat-form-field>
                          </td>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <td>
                              <mat-form-field>
                                <mat-select formControlName="type" placeholder="Type Appart.." >
                                  <mat-option>--</mat-option>
                                  <mat-option *ngFor="let type of types" [value]="type" >
                                    {{ type }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                          <td>
                            <mat-form-field>
                              <input matInput formControlName="prix" placeholder="Prix" >
                            </mat-form-field>
                          </td>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <td>
                              <mat-form-field>
                                <mat-select formControlName="bien" placeholder="Bien" >
                                  <mat-option>--</mat-option>
                                  <mat-option *ngFor="let bien of biens" [value]="bien.libelle" >
                                    {{ bien.libelle }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </td>
                        </tr>
                        
                      </table>
                </div>
              </form>
<hr>
              <div class="mx-auto col-4 row">
                <button mat-raised-button color="primary" (click)="reset()">Annuler</button>
                &nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="primary" (click)="valider()">Valider</button>
              </div>
              
              </mat-card>
             
         
      </mat-card>
    </div>
  </div>