<div class="container-fluid">
  <mat-card class="col-8 mx-auto cardSearch">
    <mat-card-title>
      <mat-icon fontSet="fa" class="fas fa-user mx-auto"></mat-icon>
      Connexion
    </mat-card-title>

    <div class="mx-auto" fxLayoutAlign="center">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <header class="mx-auto">AUTHENTICATION GESTIMMO</header>
        <label>Identifiant <span>*</span></label>
        <input type="text" name="login" formControlName="login" />

        <div class="help">Au moins 6 caractères</div>
        <label>Mot de Passe <span>*</span></label>
        <input type="password" class="fortextbox" name="passwd" formControlName="passwd" />

        <div class="help">Utilisez bien les lettres majuscules et miniscules</div>
        <button [disabled]="!loginForm.valid" value="Login">Login</button>
      </form>
    </div>
  </mat-card>

</div>