<div class="container-fluid">
  <div class="row">

    <mat-card class="col-8 mx-auto card">
      <mat-card-title>
        <mat-icon fontSet="fa" class="fas fa-building"></mat-icon>
        Liste des biens
      </mat-card-title>

      <mat-table #table [dataSource]="dataSource" matSort class="table-container mat-elevation-z8">

        <ng-container matColumnDef="libelle">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</mat-header-cell>
          <mat-cell *matCellDef="let bien">{{ bien.libelle  }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="adresse">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</mat-header-cell>
          <mat-cell *matCellDef="let bien">{{ bien.adresse.adresse }} {{ bien.adresse.complementAdresse}},
            {{ bien.adresse.codePostal}}, {{ bien.adresse.ville}}/{{ bien.adresse.pays}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator #paginator 
      [pageSize] = "10" [pageSizeOptions] = "[5, 10, 20, 50]"
      >
      </mat-paginator>

    </mat-card>

  </div>

</div>